<?xml version="1.0"?>
<!--
/**
 * Botgento
 *
 * @category    Botgento
 * @package     Botgento_Base
 * @author      Botgento Team <support@botgento.com>
 * @copyright   Botgento (https://www.botgento.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Botgento_Base>
            <version>1.0.7</version>
        </Botgento_Base>
    </modules>
    <frontend>
        <routers>
            <botgento>
                <use>botgento</use>
                <args>
                    <module>Botgento_Base</module>
                    <frontName>botgento</frontName>
                </args>
            </botgento>
        </routers>
        <events>
            <sales_quote_save_after>
                <observers>
                    <botgento_sales_quote_save_after>
                        <type>singleton</type>
                        <class>Botgento_Base_Model_Observer</class>
                        <method>quoteSaveAfter</method>
                    </botgento_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <load_customer_quote_before>
                <observers>
                    <botgento_load_customer_quote_before>
                        <type>singleton</type>
                        <class>Botgento_Base_Model_Observer</class>
                        <method>loadCustomerQuoteBefore</method>
                    </botgento_load_customer_quote_before>
                </observers>
            </load_customer_quote_before>
            <sales_order_place_after>
                <observers>
                    <botgento_order_place_after_send_cookie_data>
                        <type>singleton</type>
                        <class>Botgento_Base_Model_Observer</class>
                        <method>sendCookieDataToBotgento</method>
                    </botgento_order_place_after_send_cookie_data>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <global>
        <blocks>
            <botgento>
                <class>Botgento_Base_Block</class>
            </botgento>
        </blocks>
        <models>
            <botgento>
                <class>Botgento_Base_Model</class>
                <resourceModel>base_resource</resourceModel>
            </botgento>
            <base_resource>
                <class>Botgento_Base_Model_Resource</class>
                <entities>
                    <user>
                        <table>al_botgento_recipient</table>
                    </user>
                    <apidata>
                        <table>al_botgento_data</table>
                    </apidata>
                    <syncattributes>
                        <table>al_botgento_sync_attributes</table>
                    </syncattributes>
                    <synclog>
                        <table>al_botgento_sync_log</table>
                    </synclog>
                    <subscribermapping>
                        <table>al_botgento_subscriber_quote_mapping</table>
                    </subscribermapping>
                    <instockalert>
                        <table>al_botgento_instock_alert_subscriber</table>
                    </instockalert>
                </entities>
            </base_resource>
        </models>
        <helpers>
            <botgento>
                <class>Botgento_Base_Helper</class>
            </botgento>
        </helpers>
        <resources>
            <botgento_setup>
                <setup>
                    <module>Botgento_Base</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </botgento_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <send_data_to_botgento>
                        <type>singleton</type>
                        <class>Botgento_Base_Model_Observer</class>
                        <method>optInMessageApi</method>
                    </send_data_to_botgento>
                </observers>
            </sales_order_place_after>
            <admin_system_config_changed_section_base_options>
                <observers>
                    <botgento_api_token>
                        <type>singleton</type>
                        <class>Botgento_Base_Model_Observer</class>
                        <method>sendStatusToBotgento</method>
                    </botgento_api_token>
                </observers>
            </admin_system_config_changed_section_base_options>
            <sales_order_shipment_save_after>
                <observers>
                    <botgento_sales_order_shipment_save_after>
                        <type>singleton</type>
                        <class>Botgento_Base_Model_Observer</class>
                        <method>sendShipmentDataToBotgento</method>
                    </botgento_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <botgento_base>
                    <file>botgento/base.xml</file>
                </botgento_base>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <botgento_base>
                    <file>botgento/base.xml</file>
                </botgento_base>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <base_options>
            <order>
                <optin>Thank You for your order.</optin>
            </order>
            <order>
                <send_timer>0</send_timer>
            </order>
        </base_options>
        <web>
            <routers>
                <botgento>
                    <area>frontend</area>
                    <class>Botgento_Base_Controller_Router</class>
                </botgento>
            </routers>
        </web>
    </default>
    <crontab>
        <jobs>
            <order_data_api>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>botgento/observer::sendDataToBotgento</model>
                </run>
            </order_data_api>
            <sync_data>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>botgento/cron::syncData</model>
                </run>
            </sync_data>
            <botgento_instock_alert>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>botgento/cron::instockAlert</model>
                </run>
            </botgento_instock_alert>
        </jobs>
    </crontab>
</config>
